body {
    font-family: Arial, sans-serif;
}

 

.card {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}
.hover:hover{
    background-color: #00eeff;
}


